@import '@/styles/__settings.scss';

$borderRadius: toRem(20);

.card {
  display: flex;
  flex-direction: column;
  box-shadow: toRem(0) toRem(40) toRem(40) toRem(-20)
    rgba(13, 48, 189, 0.151826);
  border-radius: $borderRadius;
  background-color: $white;
  height: toRem(567);
  width: toRem(327);

  @include desktop() {
    height: toRem(697);
    width: toRem(450);
  }

  .image {
    width: 100%;
    height: 100%;
    background-image: url('../../public/illustration-hero.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top-left-radius: $borderRadius;
    border-top-right-radius: $borderRadius;
    width: 100%;
    height: toRem(160);

    @include desktop() {
      height: toRem(220);
    }
  }

  .contents {
    display: flex;
    flex-direction: column;
    padding: toRem(24) toRem(32);
    gap: toRem(24);
    @include center();

    @include desktop() {
      padding: toRem(48);
    }

    .title {
      font-size: toRem(22);
      font-weight: 900;
      color: $darkBlue;
      line-height: toRem(29);

      @include desktop() {
        font-size: toRem(28);
        line-height: toRem(37);
      }
    }

    .subTitle {
      color: $lightBlue;
      font-weight: 500;
      font-size: toRem(15);
      line-height: toRem(25);
      text-align: center;

      @include desktop() {
        font-size: toRem(16);
        line-height: toRem(26);
      }
    }

    .cancel {
      font-weight: 900;
      font-size: toRem(15);
      line-height: toRem(20);
      color: $lightBlue;

      &:hover {
        cursor: pointer;
        color: $darkBlue;
      }
    }
  }
}
